body {
      background-color: #000;
      font-family: "Nunito", sans-serif;
      font-size: 0.9rem;
      color: #fff;
}

ul {
      list-style-type: none;
}

a {
      color: gray;
      text-decoration: none;
}

a:hover {
      color: #de0611;
}

.container-fluid {
      margin-bottom: 30px;
}

/* HEADER */

header {
      width: 100%;
      height: 100vh;
      position: relative;
}

.header-banner {
      background-image: url(../assets/Netflix-Background.jpg);
      background-position: center;
      background-size: cover;
}

.header-banner::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #00000070;
      position: absolute;
      top: 0;
      left: 0;
}

nav {
      background-color: transparent;
      background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

div.container-fluid:nth-child(1) {
      margin-bottom: 0;
}

.navbar-brand {
      width: 8%;
      height: 8%;
}

.nav-item a {
      color: #bbb;
}

.nav-item a:hover {
      color: #de0611;
}

.nav-link.active {
      color: #fff;
}

.form-control {
      border-radius: 0;
      border-color: transparent;
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}

.form-control:focus {
      background-color: #000;
      color: #fff;
}

.form-control-lg {
      height: 60px;
}

.btn {
      border-radius: 0;
      background-color: #de0611;
      color: #fff;
}

.btn:hover {
      color: #fff;
}

.header-center {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

body > header > div > div > div > h1 {
      font-size: 4.7rem;
      text-align: center;
      font-family: "Anton", sans-serif;
      z-index: 1;
}

body > header > div > div > div > h2 {
      font-size: 1.5rem;
      text-align: center;
      z-index: 1;
}

body > header > div > div > div > h3 {
      font-size: 1.2rem;
      text-align: center;
      z-index: 1;
}

.shadow {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 55px;
      width: 100%;
      background-image: linear-gradient(to top, #000, #000, #0000);
}

/* CARDS */

.card {
      margin: 30px 0;
      height: 100%;
      width: 22rem;
      background-color: #000;
      padding: 10px;
}

.card-body {
      text-align: center;
}

/* ACCORDION */

.accordion {
      margin-top: 40px;
}

#accordion-h2 {
      text-align: center;
      font-family: "Anton", sans-serif;
      font-size: 2.5rem;
}

/* FORM DE CADASTRO */

.join-form {
      margin-top: 80px;
}

.join-form h5,
footer h5 {
      text-align: center;
}

/* FOOTER */

footer {
      padding-top: 30px;
}

.footer-list {
      padding: 30px 0;
}

.footer-bottom {
      display: flex;
      flex-direction: column;
}
