body {
      background-color: #000;
      /* background-color: green; */
      font-size: 1rem;
      font-family: "Nunito", sans-serif;
      color: whitesmoke;
      position: relative;
      overflow-x: hidden;
}

a {
      text-decoration: none;
      color: whitesmoke;
      font-weight: 900;
}

a:hover {
      color: rgba(223, 7, 18, 0.7);
}

ul {
      list-style-type: none;
}

/* BOTTOM LAYER /// */

.bottom-layer {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #333;
      display: none;
      flex-direction: column;
}

.side-close {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
}

.side-close button {
      font-size: 200%;
      color: rgba(223, 7, 18, 0.7);
      background-color: transparent;
      border: none;
      outline: none;
}

.side-close button:focus {
      color: rgb(223, 7, 18);
      background-color: #00000020;
}

/* bottom-layer-div-1 */

.bottom-layer-div-1 {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
}

.side-close {
      width: 100%;
      height: 15%;
}

.side-login {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
}

.side-login form {
      width: 100%;
      height: 35%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.side-login form input {
      width: 80%;
      height: 100%;
      padding-left: 4%;
      margin: 2% 0;
      color: whitesmoke;
      border: none;
      outline: none;
      background-color: #000;
}

.side-login form input:focus {
      border: 1px solid gray;
}

.side-login-button {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.side-login-button button {
      background-color: rgba(223, 7, 18, 0.7);
      border: none;
      border-radius: 2px;
      padding: 5px 15px;
      color: whitesmoke;
      outline: none;
}

.side-login-button button:active,
.side-login-button button:focus {
      background-color: rgb(223, 7, 18);
}

/* bottom-layer-div-2 */

.bottom-layer-div-2 {
      width: 100%;
      height: 50%;
}

.side-menu {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.side-menu ul {
      margin-left: -35px;
}

.side-logo {
      height: 30%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
}

.side-logo img {
      height: 25%;
      width: 32%;
      margin-bottom: 10%;
}

/* TOP LAYER /// */

.top-layer {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
}

/* HEADER // */

header {
      height: 100vh;
      position: relative;
      display: flex;
      flex-direction: column;
}

/* HAM-MENU */

.ham-menu {
      width: 5%;
      height: 10%;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
}

#ham-menu {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 180px;
      width: 80px;
      border: none;
      background-color: transparent;
      outline: none;
      z-index: 2;
}

.bi-list {
      color: rgba(223, 7, 18, 0.7);
      font-size: 40px;
      margin-left: 15%;
      margin-top: 15%;
}

#ham-menu:focus .bi-list {
      color: rgb(223, 7, 18);
      text-shadow: 1px 1px 2px rgb(223, 7, 18);
}

/* NAV */

nav {
      height: 35%;
      width: 100%;
      position: fixed;
      display: flex;
      z-index: 1;
}

nav.active {
      display: none;
}

.nav-shadow {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      height: 50%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
}

/* nav-div-1 */

.nav-div-1 {
      height: 100%;
      width: 55%;
      display: flex;
}

.nav-logo {
      height: 100%;
      width: 20%;
}

.nav-logo img {
      margin-top: 13%;
      margin-left: 10%;
      height: 15%;
      width: 92%;
}

.nav-menu {
      height: 100%;
      width: 80%;
}

.nav-menu ul {
      margin-top: 4%;
      display: flex;
      justify-content: center;
}

.nav-menu ul li {
      padding: 0 1.5%;
}

.nav-menu button {
      height: 80px;
      width: 80px;
      border: none;
      background-color: #00000050;
      outline: none;
      display: none;
}

.nav-menu button:focus {
      color: rgb(223, 7, 18);
      text-shadow: 1px 1px 2px rgb(223, 7, 18);
      background-color: #000;
}

.nav-menu .bi-list {
      margin-top: 0;
      margin-left: 0;
}

#login-list-item {
      display: none;
}

/* nav-div-2 */

.nav-div-2 {
      height: 100%;
      width: 45%;
      display: flex;
      justify-content: space-between;
}

.nav-login {
      height: 100%;
      width: 60%;
      display: flex;
      justify-content: flex-end;
}

.nav-login form {
      margin-top: 1%;
      margin-right: 3%;
      width: 65%;
      display: flex;
}

.nav-login input {
      width: 140%;
      height: 20%;
      background-color: transparent;
      border: none;
      color: whitesmoke;
      padding-left: 2%;
}

.nav-login input:focus {
      outline: none;
      border: 1px solid #333;
      background-color: #000;
}

.nav-login-button {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
}

.nav-login-button button {
      margin-top: 7%;
      margin-right: 5%;
      background-color: rgba(223, 7, 18, 0.7);
      border: none;
      border-radius: 2px;
      padding: 5px 15px;
      color: whitesmoke;
      outline: none;
}

.nav-login-button button:active,
.nav-login-button button:focus {
      background-color: rgb(223, 7, 18);
}

/* INNER HEADER */

.inner-header {
      height: 100%;
      width: 100%;
      background-image: url(../assets/img/Netflix-Background.jpg);
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
}

.inner-header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -2;
}

.central-content {
      height: 50%;
      min-height: 250px;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
}

.main-post {
      height: 50%;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.main-post h1 {
      font-size: 400%;
      font-weight: 900;
}

.main-post h2 {
      font-size: 200%;
}

.join {
      height: 50%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.join-central {
      height: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -5%;
}

.join2 .join-central {
      width: 100%;
}

.join h3,
.join2 h3 {
      font-size: 130%;
}

.join form {
      width: 100%;
}

.join2 .join-central form {
      width: 60%;
}

.join form input,
.join2 form input {
      width: 60%;
      height: 260%;
      border: none;
      padding-left: 2%;
      background-color: transparent;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      color: whitesmoke;
      outline: none;
}

.join form input:focus,
.join2 form input:focus {
      background-color: #000;
      text-shadow: 1px 1px 1px whitesmoke;
}

.join form button,
.join2 form button {
      height: 260%;
      margin-left: -5px;
      border: none;
      background-color: rgba(223, 7, 18, 0.7);
      color: whitesmoke;
      font-weight: 900;
      padding: 0 5%;
      outline: none;
}

.join form button:focus,
.join2 form button:focus {
      background-color: rgb(223, 7, 18);
}

/* shadow */

.shadow {
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      z-index: 1;
}

/* SEÇÃO INTERMEDIÁRIA // */

/* cards */

.cards {
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: #000;
      background-image: linear-gradient(to bottom, #000, #121212, #000);
}

.card-deck-1,
.card-deck-2 {
      height: 50%;
      width: 100%;
      display: flex;
      margin-left: 3%;
}

.card-text-content {
      height: 100%;
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.card-text-content h2 {
      font-size: 200%;
      font-weight: 900;
}

.card-text-content h3 {
      font-size: 140%;
}

.card-image {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.card-image img {
      height: 50%;
}

.square-card {
      height: 100%;
      width: 50%;
      display: flex;
}

/* accordion */

#accordion {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
}

#accordion h3 {
      font-size: 230%;
}

.accordion {
      margin-top: -5%;
      width: 50%;
}

.accordion-header button {
      font-size: 90%;
      font-weight: bold;
}

.accordion-body p {
      font-size: 110%;
}

/* join 2 */

.join2 {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
}

/* FOOTER // */

footer {
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

footer a {
      color: #aaa;
}

footer a:hover {
      color: #fff;
}

.footer-top {
      height: 20%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
}

.footer-list-div {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
}

.footer-list-column {
      display: flex;
      padding-top: 4%;

}

.footer-bottom {
      height: 20%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

/* AJUSTES PARA MOBILE //// */

@media (max-width: 1185px) {
      .nav-div-1 {
            width: 100%;
      }

      .nav-div-2 {
            display: none;
      }

      .nav-logo img {
            transform: scale(0.8);
      }

      #login-list-item {
            display: block;
      }

      .cards {
            height: 200vh;
      }

      .card-deck-1,
      .card-deck-2 {
            flex-direction: column;
            align-items: center;
      }

      .card-text-content,
      .card-image,
      .square-card {
            width: 100%;
      }

      .accordion {
            margin-top: 0;
            width: 80%;
      }
}

@media (max-width: 1000px) {
      .join form {
            width: 160%;
      }
      
      .cards {
            height: 400vh;
      }

      .square-card {
            flex-direction: column;
            align-items: center;
      }

      .card-text-content,
      .card-image {
            width: 50%;
      }

      .card-image {
            height: 50%;
            align-items: flex-start;
      }

      .card-image img {
            height: 100%;
      }
}

@media (max-width: 795px) {
      .nav-div-1 {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
      }

      .nav-logo img {
            transform: scale(1.2);
            margin-left: 4%;
      }

      .nav-menu {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: -12%;
      }

      .nav-menu ul {
            display: none;
      }

      .nav-menu button {
            display: block;
      }

      .central-content {
            width: 100%;
      }

      .join form, .join2 form {
            width: 100%;
      }
}

@media (max-width: 660px) {
      .main-post h1 {
            font-size: 270%;
      }

      .main-post h2 {
            font-size: 170%;
      }

      .join {
            width: 100%;
      }

      .join2 .join-central form {
            width: 100%;
      }

      .join h3,
      .join2 h3 {
            font-size: 110%;
      }

      .card-image img {
            transform: scale(0.7);
      }

      #accordion {
            height: 120vh;
      }

      footer {
            height: 100vh;
      }

      .footer-list-div {
            flex-direction: column;
            align-items: center;
            
      }

      .footer-list-column {
            width: 100%;
            justify-content: center;
      }
      
      .footer-list1 {
            width: 250px;
            font-size: 0.9rem;
      }

}

@media (max-width: 415px) {
      .main-post {
            height: 300px;
            justify-content: space-around;
      }

      .main-post h1 {
            font-size: 200%;
      }

      .main-post h2 {
            font-size: 120%;
            width: 70%;
      }

      .join {
            height: 100%;
      }

      .join-central {
            height: 300px;
      }

      .join form {
            height: 150px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
      }

      .join-central form input {
            width: 90%;
            height: 70px;
      }

      .join form button, .join2 form button {
            height: 60px;
      }

      .join h3,
      .join2 h3 {
            font-size: 100%;
            width: 90%;
      }

      .shadow {
            height: 40px;
      }

      #accordion {
            height: 105vh;
      }

      #accordion h3 {
            font-size: 190%;
      }

      .accordion {
            width: 90%;
      }
}

@media (max-width: 300px) {
      .card-image img {
            transform: scale(0.4);
      }

      #accordion {
            height: 155vh;
      }

      .accordion {
            margin-top: -20%;
      }
}