body {
	background-color: #000;
	font-size: 1rem;
	font-family: "Nunito", sans-serif;
      color: whitesmoke;
      overflow-x: hidden;
}

a {
	text-decoration: none;
      color: whitesmoke;
      font-weight: 900;
}

a:hover {
      color: rgba(223, 7, 18, 0.7);
}

/* HEADER // */

header {
	background-color: beige;
	height: 100vh;
	position: relative;
	display: flex;
}

/* NAV */

nav {
	height: 35%;
	width: 100%;
	position: fixed;
	display: flex;
	z-index: 2;
      background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* nav-div-1 */

#nav-div-1 {
	height: 100%;
	width: 100%;
	display: flex;
}

#nav-logo {
	height: 100%;
	width: 20%;
}

#nav-logo img {
	margin-top: 13%;
	margin-left: 10%;
      height: 15%;
      width: 92%;
}

#nav-menu {
	height: 100%;
	width: 80%;
}

#nav-menu ul {
	margin-top: 5%;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

#nav-menu ul li {
	padding: 0 2%;
}

/* nav-div-2 */

#nav-div-2 {
	height: 100%;
	width: 100%;
	display: flex;
}

#nav-login {
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: flex-end;
}

#nav-login form {
	margin-top: 1%;
      margin-right: 3%;
	width: 65%;
	display: flex;
}

#nav-login input {
	width: 140%;
	height: 20%;
      background-color: transparent;
      border: none;
      color: whitesmoke;
      padding-left: 2%;
}

#nav-login input:focus {
      outline: none;
      border: 1px solid gray;
      background-color: #000;
}

#nav-login-button {
	height: 100%;
	width: 10%;
}

#nav-login-button button {
	margin-top: 25%;
      background-color: rgba(223, 7, 18, 0.7);
      border: none;
      border-radius: 2px;
      padding: 5px 15px;
      color: whitesmoke;
      outline: none;
}

#nav-login-button button:active, #nav-login-button button:focus {
      background-color: rgb(223, 7, 18);
}

/* INNER HEADER */

#inner-header {
	height: 100%;
	width: 100%;
      background-image: url(../assets/img/Netflix-Background.jpg);
      background-position: center;
      background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inner-header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      z-index: 0;
}

#central-content {
	height: 50%;
	min-height: 250px;
	width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
}

#main-post {
	height: 50%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main-post h1 {
	font-size: 400%;
	font-weight: 900;
}

#main-post h2 {
	font-size: 200%;
}

#join {
	height: 50%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.join-central {
      height: 80%;
      text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -5%;
}

#join h3, #join2 h3 {
	font-size: 130%;
}

#join form input, #join2 form input {
	width: 60%;
	height: 260%;
	border: none;
	padding-left: 2%;
	background-color: transparent;
      background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	color: whitesmoke;
      outline: none;
}

#join form input:focus, #join2 form input:focus {
      background-color: #000;
      text-shadow: 1px 1px 1px whitesmoke;
}

#join form button, #join2 form button {
	height: 260%;
	margin-left: -5px;
	border: none;
	background-color: rgba(223, 7, 18, 0.7);
	color: whitesmoke;
      font-weight: 900;
	padding: 0 5%;
      outline: none;
}

#join form button:focus, #join2 form button:focus {
      background-color: rgb(223, 7, 18);
} 

/* shadow */

#shadow {
      width: 100%;
      height: 35%;
      position: absolute;
      bottom: 0;
      background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* SEÇÃO INTERMEDIÁRIA // */

/* cards */

#cards {
	height: 100vh;
	background-color: cornflowerblue;
	display: flex;
	flex-direction: column;
}

.card-deck {
	height: 100%;
	width: 100%;
	display: flex;
}

.card-text {
	height: 100%;
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: bisque;
}

.card-text h2 {
	font-size: 200%;
	font-weight: 900;
}

.card-text h3 {
	font-size: 140%;
}

.card-img {
	height: 100%;
	width: 50%;
	background-color: crimson;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square-card {
	height: 100%;
	width: 50%;
	display: flex;
}

/* slider */

#accordion {
	height: 100vh;
	width: 100%;
	background-color: darkorange;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion {
	width: 50%;
}

.accordion-header button {
	font-size: 90%;
	font-weight: bold;
}

.accordion-body p {
	font-size: 110%;
}

/* join 2 */

#join2 {
      width: 100%;
      height: 250px;
      background-color: darkslategrey;
      display: flex;
      justify-content: center;
}

/* FOOTER // */

footer {
	height: 400px;
	background-color: darkseagreen;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#footer-top {
      height: 20%;
      width: 100%;
      text-align: center;
      background-color: blueviolet;
      display: flex;
      justify-content: center;
      align-items: center;
}

#footer-list-div {
      height: 60%;
      width: 100%;
      background-color: tomato;
      display: flex;
      justify-content: center;
      align-items: center;
}

#footer-list-div ul {
      list-style-type: none;
}

#footer-bottom {
      height: 20%;
      width: 100%;
      text-align: center;
      background-color: springgreen;
      display: flex;
      justify-content: space-around;
      align-items: center;
}
